body {background-color: black;}
h1{color: aliceblue; font-style:italic; margin: 10px; width: 5px; height: 60px  
    ;}

.progress-bar {
    height: 8px;
    background: slateblue;
    width: 0%;
  }
    
    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    /* Create four equal columns that sits next to each other */
    .column {
      flex: 50%;
      max-width: 50%;
      padding: 0 4px;
    }
    
    .column img {
      margin-top: auto;
      vertical-align: auto;
      width: 200%;
    }
    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 20px;
        margin: 10px 0;
      }
      
      /* Darker chat container */
      .darker {
        border-color: #ccc;
        background-color: #ddd;
      }
      
      /* Clear floats */
      .container::after {
        content: "";
        clear: both;
        display: table;
      }
      
      /* Style images */
      .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
      }
      
      /* Style the right image */
      .container img.right {
        float: right;
        margin-left: 20px;
        margin-right:0;
      }
      
      /* Style time text */
      .time-right {
        float: right;
        color: #aaa;
      }
      
      /* Style time text */
      .time-left {
        float: left;
        color: #999;
      }




/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}





      
      
